.topbanner {
    background-image: url("./Images/pattern.jpeg");
    width: 100%;
    height: 100px;
}


h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    padding: 10px 10px;
    
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin: 0px;

}

h3 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 16px;
}

p {
    font-family: Helvetica;
    font-size: 15px;
}

.sectionheader {
    background-color: mediumspringgreen;
    padding: 5px 0px; 
    margin: 50px 0px;
  }

.sectionheader2 {
    background-color: lightcoral;
    padding: 5px 0px; 
    margin: 50px 0px
  }

.sectionheader3 {
    background-color: skyblue;
    padding: 5px 0px; 
    margin: 50px 0px
  }