/* Universal styles */

html {
    font-size: 16px;
}

body {
    font-family: Comfortaa;
    margin: 0;
}

/* Nav Bar and Logo */

.nav-container {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: rgb(194, 236, 255);
    z-index: 1;
}

.nav-bar {
    display: flex;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    list-style-type: none;
}

li {
    padding: 0 25px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.nav-container .logo {
    margin-right: auto; /* Used this property instead of justify-self to push logo to "flex-start" */
}

.nav-container img {
    width: 40%;
    height: auto;
    padding: 10px;
}

/* Mission Statement */

.mission-container {
    display: flex;
    background-image: url("cat-image-unsplash.jpg");
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.quote {
    font-size: 30px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-top: 80px;
    width: 100%;
    text-align: center;
}

/* Products/Services */

.products-container1 {
    display: flex;
    justify-content: space-evenly;
    border-style: solid;
    border-bottom: 0;
    padding: 50px;
    margin-top: 25px;
}

.products-container1 .box {
    font-size: 1.5rem;
    border-width: 1px;
}

.products-container1 img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    width: 300px;
    object-fit: cover;
}

.products-container2 {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    border-style: solid;
    border-top: 0;
    padding: 50px;
}

.products-container2 .box {
    font-size: 1.5rem;
    border-width: 1px;
}

.products-container2 img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    object-fit: cover;
}

.blurb {
    font-size: 1.2rem;
    padding: 20px;
}

.div-wrapper-products {    /* The div wrapper and div wrapper label can be used to create a label/title at the top corner */
    position: absolute;
    margin-top: 20px;
    padding: 20px 10px 10px; 
  }

.div-wrapper-products label {
    color: black;
    line-height: 20px;
    padding: 0 5px;
    position: absolute;
    white-space: nowrap;
    background-color: rgb(194, 236, 255);
    /* Adjust these values to position the title or label */
    top: -55px;
    right: 620px;
  }

/* Who are we? */

.whoarewe-container {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    border-style: solid;
    border-top: 0;
    padding: 50px;
}

.whoarewe-container .box {
    font-size: 1.5rem;
}

.whoarewe-container img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    object-fit: cover;
}

.div-wrapper-whoarewe {    /* The div wrapper and div wrapper label can be used to create a label/title at the top corner */
    position: absolute;
    margin-top: 20px;
    padding: 20px 10px 10px; 
  }

.div-wrapper-whoarewe label {
    color: black;
    line-height: 20px;
    padding: 0 5px;
    position: absolute;
    white-space: nowrap;
    background-color: rgb(194, 236, 255);
    /* Adjust these values to position the title or label */
    top: -55px;
    right: 570px;
  }

/* Contact */

.contact-container {
    display: flex;
    justify-content: space-evenly;
    border-style: solid;
    border-top: 0;
    padding: 50px;
}

.contact-container .box {
    font-size: 1.5rem;
    border-style: solid;
    border-width: 1px;
    padding: 50px;
}

.contact-container .logo {
    width: 40%;
    height: auto;
    padding: 10px;
}

.contact-container .blurb {
    font-size: 1rem;
    padding: 20px;
}


.div-wrapper-contact {    /* The div wrapper and div wrapper label can be used to create a label/title at the top corner */
    position: absolute;
    margin-top: 20px;
    padding: 20px 10px 10px; 
  }

.div-wrapper-contact label {
    color: black;
    line-height: 20px;
    padding: 0 5px;
    position: absolute;
    white-space: nowrap;
    background-color: rgb(194, 236, 255);
    /* Adjust these values to position the title or label */
    top: -55px;
    right: 600px;
  }