/* Universal Styles */

* {
    font-family: "Single Day";
}

body {
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Header */

#heading1 {
    text-align: center;
    font-size: 30px;
}

/* Nav bar */

 .nav {
    list-style-type: none;
    width: 100%;
    background-color: #333;
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

.nav a {
    border: 5px solid #bbb;
    color: white;
    padding: 5px;
}   

/* Colours */

.flex-container_colours {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.flex-container_colours button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

#colours {
    border-style:solid;
    border-width: 1px;
    border-color: black;
    padding: 30px;
}       

#colours h2 {
    font-size: 35px;
}

#colour1 {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #756AB6;
    width: 32%;
}

#colour1 p {
    text-align: center;
    color: white;
    font-size: 25px;
}

#colour2 {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #E0AED0;
    width: 32%;
}

#colour2 p {
    text-align: center;
    color: purple;
    font-size: 25px;
}

#colour3 {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #8DDFCB;  
    width: 32%;
}

#colour3 p {
    text-align: center;
    color: black;
    font-size: 25px;   
}

#colour4 {
    
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: #F6D6D6;
  width: 32%;
}

#colour4 p {
    text-align: center;
    color: purple;
    font-size: 25px;    
}

/* Fonts */

.flex-container_fonts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

#fonts {
    border-style:solid;
    border-width: 1px;
    border-color: black;
    padding: 30px;
    margin-top: 10px;
}

/* Text styles */

.flex-container_textstyles {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
}
  
#textstyles {
    border-style:solid;
    border-width: 1px;
    border-color: black;
    padding: 30px;
    margin-top: 10px;
}

.textstyles1 {
    font-weight: 700;
    font-size: 32px;
    font-family: Montserrat;
    padding: 10px;
    margin-top: 10px;
}

.textstyles2 {
    font-weight: 500;
    font-size: 20px;
    font-family: Montserrat;
    padding: 10px;
    margin-top: 10px;
}

.textstyles3 {
    font-weight: 400;
    font-size: 15px;
    font-family: Montserrat;
    padding: 10px;  
    margin-top: 10px;
}

.textstyles_h1 {
    font-size: 40px;
    text-decoration: underline;
}

.pbold {
    font-weight: bold;
    font-size: 20px;
}

.pnormal {
    font-size: 20px;
}

.pitalic {
    font-style: italic;
    font-size: 20px;
}

.fontheader1 {
    font-size: 25px;
    text-decoration: underline;
}

.fontheader2 {
    font-size: 25px;
    text-decoration: underline;
    font-family: "Montserrat";
}

.singleday {
    display: inline-block;
}

.Monteserrat {
    margin-left: 200px;
    padding-right: 55px;
    float: right;
}

.pbold2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 15px;
}

.pnormal2 {
    font-family: "Montserrat";
    font-size: 15px;
}

.pitalic2 {
    font-family: "Montserrat";
    font-style: italic;
    font-size: 15px;
}


li {
    font-size: larger;
    font-family: Montserrat;
}

/* Button CSS */    

button {
    cursor: pointer;
    color: black;  
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    transition-duration: 0.4s;
    background-color: white;
    border-radius: 12px;
    border: 2px solid ;
    
}

button:hover {
    background-color: black;
    color: white;   
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);       
}

a:hover {
    background-color: black;
    color: white; 
}

a {
    cursor: pointer;
    border: none;
    color: black;  
    text-align: center;
    text-decoration: none;
}

a:active { 
    text-decoration: none;
}

.flex-container .buttons {
    align-items: center;
}



 
