/* Universal styles */

body {
    margin: 0px;
    background-color: black;
}

html {
    font-size: 16px;
}

/* Title */


/* Nav Bar */

span {
  color: white;
  position: fixed;
  top: 0;
  width: 2.25%;
  background-color: black;
  border-radius: 0px 15px 15px 0px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Home */

.home {
    background-color: black;
    background-image: url("/Resources/Home-background.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

/* About */

.about {
    display: inline-flex;
    background-color: #60495A;
    font-family: "Poppins", sans-serif;
}

.blurb {
    padding: 20px;
    color: #FFFFFF;
    font-weight: 250;
    max-width: 35%;
    margin-left: 50px;
    margin-right: 50px;
}

.blurb p {
  font-size: 1rem;
}

.about img {
  width: 35%;
  height: 35%;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 150px;
}

/* Portfolio */

.porfolio-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-auto-columns: auto;
  }

  .porfolio-projects img {
    width: 100%;
    object-fit: cover;
    min-height: 100vh;
  }

  .one {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .two { 
    grid-column: 2 / 2;
    grid-row: 1;
  }
  .three {
    grid-column: 1 / 2;
    grid-row: 2;
  }
  .four {
    grid-column: 2 / 4;
    grid-row: 2;
  }
  
.reel iframe {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}


/* Contact */

.footer {
  display: flex;
  background-color: #3F3244;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  height: 100%;
  justify-content: space-evenly;
}

.footer img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  align-self: flex-end;
  margin-left: 200px;
}

.footer nav {
  align-self: flex-end;
  padding-left: 5%;
  padding-bottom: 1%;
}


.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

.footer ul li a {
  display: block;
  text-decoration: none;
  color: white;
}

/* Contact Form */

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 30%;
} 